/*code-box =============================== 
--code-box  : background
--code-box1 : main text 
--code-box2 : the syntax $
--code-box2 : hot words

<-code `thing` boxes->
<:links--https://www.thing.com:>
<~snippets~>
<*italic*>
<**bold**>
<media>
<media--neu.png>

*/
/* general =================================*/
:root {
    --hr: #d01a4d;
    --background: #f8f3ef;
    --article-back: #f4efe9;
    --text: #262626;
    --header: #202020;
    --header-h: #818181;
    --h1: #535353;
    --link: #aedfd7;
    --code-snippet: #22222212;
    --code-snippet-border: #c8c8c8;
    --code-box: #22222212;
    --code-box-1: #2f2f2f;
    --code-box-2: #7d7d7d;
    --code-box-3: #3211a8;
    --article-h1: #2e2e2e;
    --article-header: #c9c9c9;
    --article-header-h: #494949;
    --neu: 0 14px 28px #00000040, 0 10px 10px #00000038;

}

.dark-theme {
    --hr: #ff9bb7;
    --background: #131217;
    --article-back: #0f0e13;
    --text: #cfcfcf;
    --header: white;
    --h1: #7e7e7e;
    --link: #03463b;
    --code-snippet: #242424;
    --code-snippet-border: #262626;
    --code-box: #0c0d11;
    --code-box-1: #49ff76;
    --code-box-2: #5b5b5b;
    --code-box-3: #30dbdb;
    --article-h1: #e0e0e0;
    --article-header: #383838;
    --article-header-h: #999999;
    --neu: 7px 7px 11px #080709, -7px -7px 11px #1e1d25;
}

body {
    margin: 0;
    padding: 0;
}

.backy {
    padding: 0 5px 10px 5px;
    background-color: var(--background);
    -webkit-transition: background-color 0.3s ease-in;
    -moz-transition: background-color 0.3s ease-in;
    -ms-transition: background-color 0.3s ease-in;
    -o-transition: background-color 0.3s ease-in;
    transition: background-color 0.3s ease-in;
}

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;

}


hr {
    height: 1px;
    background: var(--hr);
    border: none;
    outline: none;
    width: 70%;
    margin: 3em auto;
    position: relative;
}

hr:before {
    content: attr(data-symbol);
    position: absolute;
    top: 0;
    left: 50%;
    background: black;
    color: var(--hr);
    padding: 0.5em 3em;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.link {
    background: linear-gradient(to bottom, var(--link) 0%, var(--link) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 2px 2px;
    color: var(--text);
    text-decoration: none;
    transition: background-size .6s ease;
}

.link:hover {
    background-size: 4px 50px;
}



/* index - header section =================================*/
.index-article {
    padding: 30px 50px 40px 50px;
    margin: 40px 30px 40px 30px;
    border-radius: 8px;
    background: var(--article-back);
    box-shadow: var(--neu);
    -webkit-transition: background 0.3s ease-in, box-shadow 0.3s ease-in;
    -moz-transition: background.3s ease-in, box-shadow 0.3s ease-in;
    -o-transition: background 0.3s ease-in, box-shadow 0.3s ease-in;
    -ms-transition: background 0.3s ease-in, box-shadow 0.3s ease-in;
    transition: background 0.3s ease-in, box-shadow 0.3s ease-in;
}

.wrapper {
    max-width: 44em;
    margin-left: auto;
    margin-right: auto;
}

.header {
    padding-top: 40px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
    font-size: 30px;
    text-align: center;
    font-family: Lora, 'Palatino Linotype', 'Book Antiqua', 'New York', 'DejaVu serif', serif;
}

.header a {
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -ms-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
    text-decoration: none;
    color: var(--header);
    font-weight: 700px;
}

.header a:hover {
    color: var(--header-h);
}

.header-p {
    text-align: center;
    padding-left: 0;
    padding-bottom: 30px;
    padding-top: 5px;
    margin-top: 0;
    font-size: 16px;
    color: var(--h1);
    font-family: 'Lato', sans-serif;
}

.index-hr:before {
    font-size: 2em;
    padding: 0.5em 1em;
    font-weight: lighter;
    font-family: Helvetica Neue;
    background-color: var(--background);
}

.index-hr {
    margin-top: 100px;
}

.index-p {
    font-size: 18px;
    color: var(--text);
    font-family: 'Lato', sans-serif;
    border-left: 3px solid var(--hr);
    padding: 0px 0 0 15px;
    margin: 20px 0 0 0;
    border-radius: 2px;
    -webkit-transition: color 0.3s ease-in, border-color 0.3s ease-in;
    -moz-transition: color 0.3s ease-in, border-color 0.3s ease-in;
    -ms-transition: color 0.3s ease-in, border-color 0.3s ease-in;
    -o-transition: color 0.3s ease-in, border-color 0.3s ease-in;
    transition: color 0.3s ease-in, border-color 0.3s ease-in;
}

h1 {
    line-height: 1.2;
    margin: 0 0;
    font-size: 30px;
    color: var(--h1);
    font-family: Lora, 'Palatino Linotype', 'Book Antiqua', 'New York', 'DejaVu serif', serif;
    -webkit-transition: color 0.3s ease-in;
    -moz-transition: color 0.3s ease-in;
    -ms-transition: color 0.3s ease-in;
    -o-transition: color 0.3s ease-in;
    transition: color 0.3s ease-in;
}

.read {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: #05927b;
}

.read:hover {
    color: #03584a;
}

video {
    width: 100% !important;
    height: auto !important;
    padding-top: 20px;
    padding-bottom: 20px;
}

img {
    display: block;
    width: auto !important;
    height: auto !important;
    padding-top: 20px;
    padding-bottom: 20px;
    max-height: 400px;
    max-width: 100%;
    margin: auto;
}


/* article =================================*/
.article-header {
    padding-top: 15px;
    padding-left: 30px;
    padding-bottom: 15px;
    margin: 0px;
    font-size: 25px;
    font-family: Lora, 'Palatino Linotype', 'Book Antiqua', 'New York', 'DejaVu serif', serif;
}

.article-header a {
    -moz-transition-duration: .3s;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
    text-decoration: none;
    color: var(--article-header);

}

.article-header a:hover {
    color: var(--article-header-h);
}

.code-snippet{
    border: 1px solid var(--code-snippet-border);
    background-color: var(--code-snippet);
    border-radius: 4px;
    font-family: 'Share Tech Mono', monospace;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 90%;
}

.code-box {
    background: var(--code-box) none repeat scroll 0% 0%;
    margin: 30px 0px;
    padding: 20px;
    font-size: 15px;
    color: var(--code-box-1);
    font-family: 'Roboto Mono', monospace;
    display: block;
    border-radius: 4px;
    word-wrap: break-word;
    overflow: auto;
    box-sizing: border-box;
    word-break: normal;
}

.code-box2 {
    color: var(--code-box-2);
}

.code-box3 {
    color: var(--code-box-3);
}

.article-p {
    font-size: 19px;
    line-height: 1.42em;
    color: var(--text);
    font-family: 'Lato', sans-serif;
}

.article-h1 {
    line-height: 1.2;
    padding-bottom: 10px;
    font-size: 30px;
    color: var(--article-h1);
    font-family: Lora, 'Palatino Linotype', 'Book Antiqua', 'New York', 'DejaVu serif', serif;
}

.article-body article {
    padding-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

.page-hr:before {
    padding: 0.5em 1em;
    font-weight: lighter;
    font-family: Helvetica Neue;
    background-color: var(--background);
    font-family: Lora, 'Palatino Linotype', 'Book Antiqua', 'New York', 'DejaVu serif', serif;
    font-size: 17px;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 3px;
}



/* compatibility =================================*/

@media (max-width:640px) {
    .index-article {
        padding: 20px 15px 20px 20px;
        margin: 40px 20px 40px 20px;
    }

    .index-p {
        border-left-width: 5px;
    }

    hr {
        width: 90%;
        margin: 3em auto;
    }

    .article-p {
        font-size: 18px;
        line-height: 1.4em;
    }

    article {
        margin-left: 20px;
        margin-right: 20px;
    }

    /* .dark-theme {
        --background: #131416;
    } */


}
